/*
 * Copyright 2016 HomeAdvisor, Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 *
 */

.page-header {
    margin-top: 0;
}

.page-header h1 {
    font-family: "PT Sans", Helvetica, 'Helvetica Neue', Arial, sans-serif;
    font-weight: bold;
}

.page-header .small {
    font-size: 50%
}

.page-header a {
    text-decoration: none;
}

.table.overview {
    width: 33%;
}

.container, .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.l-container {
    padding-bottom: 25px;
}

.table th {
    text-align: left;
    background-color: #eee;
}

.message-table-wrapper {
  overflow-x: auto;
}

#message-table {
  margin-bottom: 16px;
}

.table td.profile {
    padding-left: 3px;
    vertical-align: bottom;
}